%p#notice= notice

.row
  %h1= @shopping_list.title
.row
  - @shopping_list_object.recipes.each do |recipe|
    =link_to recipe.recipe_link do
      .recipe
        .recipe-image
          =image_tag(recipe.image_link, size: "200x200", alt: "#{recipe.title}")
        =recipe.title
.row.ingredients_list
  -@shopping_list_object.ingredient_list.each do |ingredient|
    .row
      .list_entry=ingredient
%br
.row
  .columns.small-2= link_to 'Back', shopping_lists_path, class: 'button'
  .columns.small-2= link_to 'Destroy', @shopping_list, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button'
